@page
@model ecard.Model.Greetings;
@{ ViewBag.PageTitle = "Form";
}

<div class="container">
    <form action="Preview" method="post">
        <div class="form-group">
            <label asp-for="@Model.friendname"></label>
            <input asp-for="@Model.friendname" type="text" class="form-control">
            <span asp-validation-for="@Model.friendname" class="text-danger"></span>
            <br />

            <label asp-for="@Model.friendsemail"></label>
            <input asp-for="@Model.friendsemail" type="email" class="form-control">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <span asp-validation-for="@Model.friendsemail" class="text-danger"></span>
            <br />

            <label asp-for="@Model.subject"></label>
            <input asp-for="@Model.subject" type="text" class="form-control">
            <span asp-validation-for="@Model.subject" class="text-danger"></span>
            <br />
            <div>
                <label asp-for="@Model.message"></label>
                <textarea asp-for="@Model.message" class="form-control" maxlength="140"></textarea>

                <span asp-validation-for="@Model.message" class="text-danger"></span>
                <div class="countdown"></div>
                <br />
            </div>

            <label asp-for="@Model.yourname"></label>
            <input asp-for="@Model.yourname" type="text" class="form-control">
            <span asp-validation-for="@Model.yourname" class="text-danger"></span>
            <br />



            <label asp-for="@Model.youremail"></label>
            <input asp-for="@Model.youremail" type="email" class="form-control">
            <span asp-validation-for="@Model.youremail" class="text-danger"></span>
            <br />







            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            <br />



            <div class="g-recaptcha" data-sitekey="6LeEpUUUAAAAAOCIrRrRoMaBkKkHnQfzAUzGJ52N"></div><br />




            <button type="submit" class="btn btn-primary">Send!</button>
        </div>
    </form>

</div>
@section scripts {
    <script src="~/lib/ww-form-character-countdown.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Begin Text Area Autosize
    <script src="~/lib/textarea-autosize/dist/jquery.textarea_autosize.js"></script>
    <script>
        $('textarea').textareaAutoSize();
    </script>
    End Text Area Autosize-->

    <script src='https://www.google.com/recaptcha/api.js'></script>

}